<div class="about">
  <% include logo %>
  <div class="info">
    <div class="about_text">
      <div class="about_text_eng">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Jut labore et dolore magna aliqua. Ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
      </div>
      <div class="about_text_chi">
        <p>推荐：食用‘詹尼佛.罗伦斯风味肉肠’可搭配浓郁的蜂蜜…再添加少量橙皮屑和姜末，‘詹姆斯.弗兰科风味’主打烟熏，口感迷人顺滑，而品尝‘坎耶·维斯特辣味大肉排’最好搭配波本威士忌。</p> 
        <p>公众对‘实验室人造肉’的关注和讨论，是百分之一百来真的</p>

      </div>

    </div>
    <!--
    <hr class="social_linebreak">
    <div class="social">
      <img class="facebook" src="">
      <img class="facebook" src="">
      <img class="facebook" src="">
      <img class="facebook" src="">
    </div>
    -->
  </div>
</div>
