<div class="about">
  <% include logo %>
  <div class="info">
    <div class="about_text">
      <div class="about_text_eng">
        <p>Jian Shen (JS) Tan, Kevin Wiesner, Amelia Zhang and Lukas Bentel</p> 
        <p>Yinte is international style for the digital future and branding for fluid identity. The four founders of Yinte come from Beijing, New York, Lucca, Hong Kong, Kuala Lumpur, and Vancouver. </p> 
        <p>contact: <a href="mail:yinte.global@gmail.com">yinte.global@gmail.com</a></p>
      </div>
      <div class="about_text_chi">
        <p>Jian Shen (JS) Tan, Kevin Wiesner, Amelia Zhang 和 Lukas Bentel</p>

        <p>因特是电子未来的国际潮流以及流动性的品牌识别。4个创始人分别来自北京，纽约，卢卡，香港，吉隆坡，和温哥华。</p>

        <p>联系： yinte.global@gmail.com</p>
      </div>

    </div>
    <!--
    <hr class="social_linebreak">
    <div class="social">
      <img class="facebook" src="">
      <img class="facebook" src="">
      <img class="facebook" src="">
      <img class="facebook" src="">
    </div>
    -->
  </div>
</div>
