<div class="advertisement_branding">
  <div class="corner advertisement_corners_tl"><img src="/media/logo_white.png"></div>
  <div class="corner advertisement_corners_tr"><img src="/media/logo_white.png"></div>
  <div class="corner advertisement_corners_bl"><img src="/media/logo_white.png"></div>
  <div class="corner advertisement_corners_br"><img src="/media/logo_white.png"></div>

  <div class="advertisement_logo">
    <img src="/media/logo_white.png"> 
    <div class="advertisement_logo_text_eng">yinte</div>
    <div class="advertisement_logo_text_chi">因特</div>
  </div>
</div>
