<footer>
  <div class="social_media">
    <a href="http://www.facebook.com/YINTE">facebook</a>
    &nbsp | &nbsp 
    <a href="http://www.instagram.com/yinte.global">instagram</a> 
  </div>
  <div class="copyright">
    <img src="media/logo_black.png">
    yinte 2015 Copyright
  </div>
</footer>
