<footer>
  <div class="social_media">
    <a href="">facebook</a>
    &nbsp | &nbsp 
    <a href="">instagram</a> 
    &nbsp | &nbsp 
    <a href="">email</a>
  </div>
  <div class="copyright">
    <img src="media/logo_black.png">
    yinte 2015 Copyright
  </div>
</footer>
