<title>Yinte</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0;">
<link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
<link rel="icon" href="/media/favicon.ico" type="image/x-icon">

<meta property="description" content="Yinte is international style for the digital future and branding for fluid identity." />
<meta property="keywords" content="Yinte International Fashion Internet Identity Advertising Branding Hello Velocity Beijing New York" />

<meta property="og:url" content="http://www.yinte.global" />
<meta property="og:image" content="http://www.yinte.global//media/facebook_banner.jpg" />
<meta property="og:title" content="Yinte" />
<meta property="og:description" content="Yinte is international style for the digital future and branding for fluid identity founded by Lukas Bentel, Jian Shen (JS) Tan, Amelia Zhang and Kevin Wiesner." />

<link href='http://fonts.googleapis.com/css?family=Hind:600,400,500' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/style.css' />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57531666-3', 'auto');
  ga('send', 'pageview');

</script>
