<div class="logo_container">
  <img src="/media/logo_black.png" class="logo_image">
  <div class="logo_text">
    <div class="logo_text_eng">yinte</div>
    <div class="logo_text_chi">因特</div>
  </div>
</div>
