<div class="merch_corner merch_corner_tl"><img src="/media/logo_white.png"></div>
<div class="merch_corner merch_corner_tr"><img src="/media/logo_white.png"></div>
<div class="merch_corner merch_corner_bl"><img src="/media/logo_white.png"></div>
<div class="merch_corner merch_corner_br"><img src="/media/logo_white.png"></div>

