<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/loading_screen %> 
    <% include partials/logo %> 
    <div class="header">
      <a href="/">home &nbsp|&nbsp 因特</a>
    </div>
    <br>

    <a href="http://printallover.me/collections/yinte/products/0000000p-yinte-1-6"><div class="merchandise left" id="merchandise01">
      <% include partials/merch_corners %>
      <img class="merchandise_img" src="/media/merchandise_10.png">
      <div class="merchandise_info">
        <div class="merchandise_name">Yinte Tee 1.0</div>
        <div class="merchandise_price">$38.00 USD</div>
      </div>   
    </div></a><!--

    --><a href="http://printallover.me/collections/yinte/products/0000000p-yinte-1-5"><div class="merchandise right" id="merchandise02">
      <% include partials/merch_corners %>
      <img class="merchandise_img" src="/media/merchandise_15.png">
      <div class="merchandise_info">
        <div class="merchandise_name">Yinte Tee 1.5</div>
        <div class="merchandise_price">$38.00 USD</div>
      </div>   
    </div></a>

    <a href="http://printallover.me/collections/yinte/products/0000000p-yinte-4"><div class="merchandise left" id="merchandise03">
      <% include partials/merch_corners %>
      <img class="merchandise_img" src="/media/merchandise_20.png">
      <div class="merchandise_info">
        <div class="merchandise_name">Yinte Tee 2.0</div>
        <div class="merchandise_price">$38.00 USD </div>
      </div>   
    </div></a><!--

    --><a href="http://printallover.me/collections/yinte/products/0000000p-yinte-6"><div class="merchandise right" id="merchandise04">
      <% include partials/merch_corners %>
      <img class="merchandise_img" src="/media/merchandise_25.png">
      <div class="merchandise_info">
        <div class="merchandise_name">Yinte Tee 2.5</div>
        <div class="merchandise_price">$38.00 USD</div>
      </div>   
    </div></a>

    <a href="http://printallover.me/collections/yinte/products/0000000p-march-5"><div class="merchandise left" id="merchandise05">
      <% include partials/merch_corners %>
      <img class="merchandise_img" src="/media/merchandise_30.png">
      <div class="merchandise_info">
        <div class="merchandise_name">Yinte Tee 3.0</div>
        <div class="merchandise_price">$38.00 USD</div>
      </div>   
    </div></a><!--

    --><a href="http://printallover.me/collections/yinte/products/0000000p-yinte-10"><div class="merchandise right" id="merchandise06">
      <% include partials/merch_corners %>
      <img class="merchandise_img" src="/media/merchandise_35.png">
      <div class="merchandise_info">
        <div class="merchandise_name">Yinte Tee 3.5</div>
        <div class="merchandise_price">$38.00 USD</div>
      </div>   
    </div></a>

    <br><br>

    <% include partials/about %><!--
    --><a href="/"><div class="yinte_concept">
      <img class="yinte_concept_img" src="media/advertisement01.png">
      <div class="yinte_concept_text">
        <span class="yinte_concept_text_eng">main page /</span>
        <span  class="yinte_concept_text_chi">注和讨论 →</span>
      </div>
    </div></a>
    <% include partials/footer %>

    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/index.js"></script>

  </body>
</html>
